[submodule "external/backward-cpp"]
	path = external/backward-cpp
	url = https://gitee.com/scu319hy/backward-cpp
[submodule "external/kokkos"]
	path = external/kokkos
	url = https://gitee.com/yaojieyu/kokkos
